<%= form_for :session, url: session_path, html: { class: "form-signin" } do |form| %>
  <h2 class="form-signin-heading">Sign In</h2>

  <div class="text-field">
    <%= form.label :email, class: "sr-only" %>
    <%= form.text_field :email,
      type: "email",
      placeholder: "Email address",
      required: true,
      autofocus: true,
      class: "form-control" %>
  </div>

  <div class="password-field">
    <%= form.label :password, class: "sr-only" %>
    <%= form.password_field :password,
      placeholder: "Password",
      required: true,
      class: "form-control" %>
  </div>

  <div class="submit-field">
    <%= form.submit "Sign In", class: "btn btn-md btn-primary btn-block" %>
  </div>

  <div class="other-links">
    <br/>
    <p class="pull-right">
      <%= link_to t(".forgot_password"), new_password_path %>
    </p>
  </div>
<% end %>
