<div id="clearance" class="sign-up">
  <%= form_for @user, html: { class: "form-signin" } do |form| %>
    <h2 class="form-signin-heading">Sign Up</h2>

    <div class="text-field">
      <%= form.label :email, class: "sr-only" %>
      <%= form.text_field :email,
        type: "email",
        placeholder: "Email address",
        required: true,
        autofocus: true,
        class: "form-control" %>
    </div>

    <div class="password-field">
      <%= form.label :password, class: "sr-only" %>
      <%= form.password_field :password,
        placeholder: "Password",
        required: true,
        class: "form-control" %>
    </div>

    <div class="submit-field">
      <%= form.submit "Sign Up", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  <% end %>
</div>
