<%= form_for @tournament, html: { "data-tournament-form": "" } do |form| %>

  <div class="text-field">
    <%= form.label :name %>
    <%= form.text_field :name,
      placeholder: "example: Portland Classic",
      required: true,
      autofocus: true,
      class: "form-control" %>
  </div>

  <div class="text-field top20">
    <%= form.label :description %>
    <%= form.text_area :description,
      rows: 5,
      placeholder: "Describe the tournament details, such as location, special rules, etc",
      required: true,
      class: "form-control noresize" %>
  </div>

  <div class="text-field top20">
    <%= form.label :start_at, "Starts" %>
    <div class="input-group date" data-start-at>
      <%= form.text_field :start_at,
        value: @tournament.start_at.try(:strftime, "%B %e %Y, %l:%M %P"),
        required: true,
        class: "form-control" %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div class="text-field top20">
    <%= form.label :end_at, "Ends" %>
    <div class="input-group date" data-end-at>
      <%= form.text_field :end_at,
        value: @tournament.end_at.try(:strftime, "%B %e %Y, %l:%M %P"),
        required: true,
        class: "form-control" %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div class="submit-field">
    <%= form.submit tournament_submit_label(@tournament), class: "btn btn-md btn-primary top20" %>
  </div>
<% end %>
