<div class="col-md-12">
  <% if Tournament.count.zero? %>
    <h4>
      No tournaments have been created yet
    </h4>

    <%= link_to "Host a Tournament", new_tournament_path, class: "btn btn-md btn-primary top20"  %>
  <% end %>

  <% playing_tournaments = current_user.tournaments_playing_in.upcoming.order(:start_at) %>
  <% if playing_tournaments.any? %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Tournaments I'm Playing In</h3>
      </div>
      <div class="panel-body">
        <%= render partial: "tournament_table",
          locals: { tournaments: playing_tournaments }
        %>
      </div>
    </div>
  <% end %>

  <% hosting_tournaments =  current_user.tournaments_hosting.upcoming.order(:start_at) %>
  <% if hosting_tournaments.any? %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Tournaments I'm Hosting</h3>
      </div>
      <div class="panel-body">
        <%= render partial: "tournament_table",
          locals: { tournaments: hosting_tournaments }
        %>
      </div>
    </div>
  <% end %>

  <% upcoming_tournaments = Tournament.upcoming.order(:start_at) %>
  <% if upcoming_tournaments.any? %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Upcoming Tournaments</h3>
      </div>
      <div class="panel-body">
        <p>Register for one of these upcoming tournaments</p>
        <%= render partial: "tournament_table",
          locals: { tournaments: upcoming_tournaments }
        %>
      </div>
    </div>
  <% end %>

  <% past_tournaments = Tournament.for_player_or_host(current_user).past.order(start_at: :desc) %>
  <% if past_tournaments.any? %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Past Tournaments</h3>
      </div>
      <div class="panel-body">
        <%= render partial: "tournament_table",
          locals: { tournaments: past_tournaments }
        %>
      </div>
    </div>
  <% end %>
</div>
