<div class="col-md-6">
  <h2><%= @tournament.name %></h2>

  <h5><%= tournament_date_label(@tournament) %></h5>

  <p>
    <%= @tournament.description %>
  </p>

  <% if @tournament.registration_open? %>
    <% registration = current_user.registration_for(@tournament) %>
    <% if registration %>
      <%= link_to "Unregister", registration_path(registration, redirect_to: tournament_path(@tournament)),
        method: :delete, class: "btn btn-md btn-warning top20 right10"  %>
    <% else %>
      <%= link_to "Register", registrations_path(tournament_id: @tournament.id, redirect_to: tournament_path(@tournament)),
        method: :post, class: "btn btn-md btn-primary top20 right10"  %>
    <% end %>

    <% if @tournament.hosted_by?(current_user) %>
      <%= link_to "Change Tournament Details", edit_tournament_path, class: "btn btn-md btn-primary top20"  %>
    <% end %>
  <% else %>
    <p>
      <em>Registration is no longer open for this tournament</em>
    </p>
  <% end %>
</div>
