<div class="col-md-9">
  <h2><%= @tournament.name %></h2>

  <h5><%= tournament_date_label(@tournament) %></h5>

  <p>
    <%= @tournament.description %>
  </p>

  <% if @tournament.registration_open? %>
    <%= render partial: "registration_controls", locals: { tournament: @tournament } %>

    <% if @tournament.hosted_by?(current_user) %>
      <%= render partial: "host_controls", locals: { tournament: @tournament } %>
    <% end %>
  <% else %>
    <p>
      <em>Registration is no longer open for this tournament</em>
    </p>
  <% end %>

  <% if @tournament.matches.any? %>
    <h4 class="top40">Matches</h4>
    <%= render partial: "matches_table", locals: { tournament: @tournament } %>
  <% end %>
</div>
