<div id="clearance" class="password-reset">
  <%= form_for :password, url: passwords_path, html: { class: "form-signin" }  do |form| %>
    <h2 class="form-signin-heading">Password Reset</h2>
    <p><%= t(".description") %></p>

    <div class="text-field">
      <%= form.label :email, class: "sr-only" %>
      <%= form.text_field :email,
        type: "email",
        placeholder: "Email address",
        required: true,
        autofocus: true,
        class: "form-control" %>
    </div>

    <div class="submit-field">
      <%= form.submit "Reset Password", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  <% end %>
</div>
